
.readyTo{
    margin-top: 96px;

    &__div{
        display: flex;
        flex-direction: row;
    }

    &__title{
        font-size: 56px;
        font-family: 'DM Serif Display', serif;
        color: #36536B;
    }

    &__title-div{
        max-width: 445px;
    }

    &__input-line{
        background-color: #FBFCFE;
        width: 445px;
        height: 48px;
        font-size: 15px;
        color: rgba(54, 83, 107, 0.5);
        font-family: 'Public Sans', sans-serif;
        border-radius: 24px;
        border: 0px solid transparent;
        position: relative;
        transition: 0.8s;
        padding-left: 27px;
    }

    &__input-line:hover{
        color: #36536B;
    }

    &__input-line:active{
        color: #36536B;
    }

    &__input-line-label{
        width: 445px;
        height: 48px;
        position: relative;
    }

    &__input-div{
        margin: 0;
        left: 247px;
        width: 474px;
        position: relative;
        top: 56px;
    }

    &__input-btn{
        border-radius: 24px;
        width: 173px;
        height: 48px;
        padding-top:5px;
        border: 0px solid transparent;
        background-color: #BA4270;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        color: #FBFCFE;
        position: absolute;
        right: 0px;
        font-weight: 700;
        transition: 0.8s;
    }

    &__input-btn:hover{
        background-color:#DA6D97;
    }

    &__input-btn:active{
        background-color:#DA6D97;
    }
}

@media screen and (max-width:375px) /* for phones */{

.readyTo{


    &__div{
        flex-direction: column;
    }

    &__title{
        font-size: 32px;
        max-width: 328px;
        text-align: center;
        margin-bottom: -10px;
        margin-top: 40px;
    }

    &__input-div{
        left: 0;
        margin: 0 auto;
        max-width: 295px;
    }

    &__input-line{
        max-width: 295px;
        margin: 0px auto;
        padding-left: 5px;
        width: 100%;
        padding: 0;
    }

    &__input-btn{
        position: relative;
        max-width: 295px;
        margin-top: 10px;
        width: 100%;
    }
}

}


@media screen and (max-width:768px) /* for tablets */{

    .readyTo{


        &__div{
            flex-direction: column;
        }

        &__title-div{
            margin: 0 auto;
            margin-top: 40px;
        }

        &__title{
            margin-bottom: 0;
        }

        &__input-div{
            left: 0;
        }
        &__input-line{
            max-width: 445px;
            width: 100%;
        }
    
        &__input-div{
            margin: 0 auto;
            margin-top: 10px;
        }
    }
}